/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.payment-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

.qr-code img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.upi-id {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.upi {
  font-weight: bold;
  color: #007bff;
  margin: 10px 0;
}

.payment-status {
  margin-bottom: 20px;
}

#pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#pay-button:hover {
  background-color: #0056b3;
}